{% extends 'base.html.twig' %}
{% block body %}


    <div id="about">

    </div>
    <div class="contenedor-nosotros contenedor">
        <div class="texto-nosotros">
            <h1>CHEFOS</h1>
            <p>Disfruta de la auténtica gastronomía en cualquiera de tus eventos. Ofrecemos nuestros servicios de catering para tus reuniones y celebraciones. Pídenos presupuesto sin compromiso, estaremos encantados de atender tus solicitudes y adaptar nuestros servicios. <br> <br>
                Gracias por confiar en nosostros.
            </p>
        </div>
        <div class="imagenes-nosotros">
            <div class="imagen1">
                <img src="./img/cooking-1835369_1920.jpg" alt="">
            </div>
        </div>
    </div>

    <div id="menus">

    </div>
    <section class="menu contenedor">
        <h2 class="texto-platillos">Menús populares</h2>
        <div class="platillos">
            <div class="platillo" data-platillo="ensalada">
                <img src="./img/beef-2509104_1920.jpg" alt="ensalada">
                <h2>Menú Meatua</h2>
                <p>Menú compuesto por nuestro mejor plato de carne de vacuno.</p>
                <div class="precio">
                    <p>140.00€</p>
                    <a href="{{path('product')}}"><i class="fas fa-shopping-basket"></i></button></a>
                </div>
            </div>
            <div class="platillo" data-platillo="ensalada">
                <img src="./img/burgers-1976198_1920.jpg" alt="ensalada">
                <h2>Menú Goloso</h2>
                <p>Menú compuesto por nuestra mejor hamburguesa de carne de cerdo.</p>
                <div class="precio">
                    <p>80.00€</p>
                    <a href="{{path('product')}}"><i class="fas fa-shopping-basket"></i></button></a>
                </div>
            </div>
            <div class="platillo" data-platillo="ensalada">
                <img src="./img/salad-2068210_1920.jpg" alt="ensalada">
                <h2>Menú Verde</h2>
                <p>Menú compuesto por nuestra mejor ensalada fresca.</p>
                <div class="precio">
                    <p>40.00€</p>
                    <a href="{{path('product')}}"><i class="fas fa-shopping-basket"></i></button></a>
                </div>
            </div>
            <div class="platillo" data-platillo="ensalada">
                <img src="./img/seafood-2408849_1920.jpg" alt="pasta">
                <h2>Menú Azul</h2>
                <p>Menú compuesto por nuestro mejor plato de pulpo a la gallega.</p>
                <div class="precio">
                    <p>180.00€</p>
                    <a href="{{path('product')}}"><i class="fas fa-shopping-basket"></i></button></a>
                </div>
            </div>
            <div class="platillo" data-platillo="ensalada">
                <img src="./img/cake-1971552_1920.jpg" alt="pasta">
                <h2>Menú Sugar</h2>
                <p>Menú compuesto por nuestro postre tiramisu de 5 estrellas.</p>
                <div class="precio">
                    <p>$120.00€</p>
                    <a href="{{path('product')}}"><i class="fas fa-shopping-basket"></i></button></a>
                </div>
            </div>
            <div class="platillo" data-platillo="ensalada">
                <img src="./img/pasta-3805772_1920.jpg" alt="pasta">
                <h2>Menú Pastaso</h2>
                <p>Menú compuesto por nuestro plato de spaguetti.</p>
                <div class="precio">
                    <p>160.00€</p>
                    <a href="{{path('product')}}"><i class="fas fa-shopping-basket"></i></button></a>
                </div>
            </div>
            </div>
    </section>

   <!-- <div class="separador">
        <div class="contenido-separador contenedor">
            <h2>Comida italiana para empezar el día</h2>
            <p>Empieza tu día comiedo deliciosa comida o un café italiano</p>
            <a href="#" class="btn btn-verde">Ordenar ahora</a>
        </div>
    </div>-->

    <div id="team">

    </div>
   <!--<section class="chef contenedor">
        <h2>Nuesto Equipo de Chefs</h2>-->
        <!--<div class="contenido-chef">
            <div class="texto-chef">
                <h3>La exelencia está en la diversidad y el modo de progresar
                    es conocer y comparar las diversidades de productos, culturas y
                    técnicas
                </h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus corporis dolores eveniet
                    vitae,
                    natus tempora recusandae hic laborum error ducimus repellat, laudantium temporibus tenetur totam
                    sint
                    consequuntur eligendi! Asperiores, ad.</p>
                <a href="#" class="btn btn-verde">Leer Bíografia</a>
            </div>
            <div class="imagen-chef">
                <img data-src="/assets/img/chef.webp" alt="fotografia del chef">
            </div>
        </div>-->
        <!--<div class="platillos">
            <div class="platillo2" data-platillo="ensalada">
                <img src="./img/chef1.jpg" alt="ensalada">
                <h1>Chef Antonio</h1>
                <p>Menú compuesto por nuestro mejor plato de carne de vacuno.</p>
            </div>
            <div class="platillo2" data-platillo="ensalada">
                <img src="./img/chef2.jpg" alt="ensalada">
                <h1>Chef Laura</h1>
                <p>Menú compuesto por nuestra mejor hamburguesa de carne de cerdo.</p>
            </div>
            <div class="platillo2" data-platillo="ensalada">
                <img src="./img/chef3.jpg" alt="ensalada">
                <h1>Chef Andrea</h1>
            </div>
        </div>
    </section>-->

    {{ render(controller('App\\Controller\\PageController::teamTemplate')) }}


{% endblock %}