<div class="contenido-navegacion contenedor">
                <div class="logo">
                    <!--<h2>Ristorante <span class="verde">Tu</span><span>ri</span><span class="rojo">lli</span></h2>-->
                    <img class="imagen-logo" src="{{ asset('img/logoChefos.png' ) }}" alt="">
                </div>
                <nav class="navegacion ocultar">
                     <a href="{{ path('index') }}" class="nav-item nav-link {{ (app.request.attributes.get('_route') == 'index')  ? 'active': ''}}">Inicio</a>
                     <a href="{{ path('index') }}" class="nav-item nav-link {{ (app.request.attributes.get('_route') == 'index')  ? 'active': ''}}">Sobre Nosotros</a>
                     <a href="{{ path('product') }}" class="nav-item nav-link {{ (app.request.attributes.get('_route') == 'product')  ? 'active': ''}}">Menús</a>    
                     <a href="{{ path('index') }}" class="nav-item nav-link {{ (app.request.attributes.get('_route') == 'index')  ? 'active': ''}}">Nuestro Equipo</a>
                     <a href="{{ path('contact') }}" class="nav-item nav-link {{ (app.request.attributes.get('_route') == 'contact')  ? 'active': ''}}">Contacto</a>               
                    <a href="{{ path('app_cart') }}" class="nav-item nav-link {{ (app.request.attributes.get('_route') == 'app_cart')  ? 'active': ''}}"><i class="bi bi-cart"></i> Cart <span id='totalItems'>({{cart.totalItems}})</span></a>
                
                  {% if app.user %}
                    <a href="{{ path('app_logout') }}" class="nav-item nav-link "> {{ app.user.email }} - Cerrar Sesión</a>
                    {% else %}
                    <a href="{{ path('app_login') }}"  class="nav-item nav-link {{ (app.request.attributes.get('_route') == 'app_login')  ? 'active': ''}}">Iniciar Sesión</a>
                    <a href="{{ path('app_register') }}"  class="nav-item nav-link {{ (app.request.attributes.get('_route') == 'app_register')  ? 'active': ''}}">Registrarse</a>
                {% endif %}
    
                
                </nav>
                <div class="hamburguesa">
                    <span></span><span></span><span></span>
                </div>
            </div>